/**
* This stylesheet defines variables and default styles that are imported and
* used by ALL other stylesheets.
*/


/**
* Root variables are available globally. Also contains reusuable mixins that can
* be selectively inlined in other elements.
*/
:root {
    --base-font-weight: 400;
    --base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
    --base-font-size: 24px;
    --base-line-height: 1.5;
    --headings-font-family: "Merriweather", Helvetica, Arial, serif;

    --spacing-unit: 30px;
    --content-width: 800px;
    --max-width: calc(var(--content-width) - (var(--spacing-unit) * 2));

    --code-background-color: #f7f7f7;

}