/**
* Highly recommended read: https://hospodarets.com/you-might-not-need-a-css-preprocessor/#/
*/

@import "./base.css";
@import "./defaults.css";


/**
* `main` element
*/
main {
  display: flex; 
  width: 65%;
  margin-left: 0.1vw;
  margin-top: 1vh;
  margin-bottom: var(--spacing-unit);
  flex: 1;
  overflow: hidden;
}

/**
* Post listings in the main page
*/
main ul {
  list-style: symbols(cyclic "⟫");
}

/** 
* Footer
*/
footer {
  border-top: 1px solid black;
  padding: calc(var(--spacing-unit) / 2) 0;
  text-align: center;
  overflow: hidden;
  /* background-color: antiquewhite; */
}

/**
* Main page's posts list
*/ 
.posts-list {
  max-width: var(--max-width);
  margin-left: auto;
  padding-right: var(--spacing-unit);
  padding-left: var(--spacing-unit);
}

/**
* Blog post content
*/
.post-content {
  max-width: var(--max-width);
  margin-right: 2%;
  margin-left: auto;
  padding-right: var(--spacing-unit);
  padding-left: var(--spacing-unit)
}

/**
* Sidear
*/
.sidebar {
  /* background-color: aliceblue; */
  width: 16%;
  box-sizing: border-box;
  padding: 20px;
  border-left: 1px dotted;
  height: 90%;
  right: 20%;
  margin-right: 10px;
  position:fixed
}