<div class="sidebar">
    <p>This is my <a href="/"><strong>Wiki</strong></a>. It has things that I've written about</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at rutrum 
        urna, ut blandit dolor. Phasellus auctor laoreet felis, vel faucibus
         augue scelerisque ac. Aliquam maximus quis purus sed suscipit. Nullam 
         quis nisl rhoncus, placerat neque non, cursus sem. Quisque lobortis, 
         sem vel consectetur feugiat, risus orci tincidunt risus, vitae varius 
         felis diam nec ipsum. 
        </p> 
         <p>Sed sit amet est egestas, placerat nibh eu, 
         posuere nisl. Interdum et malesuada fames ac ante ipsum primis in 
         faucibus. 
         </p>

    <label for="search" style="font-size: small;">Search:</label>
    <input id="search" type="text">
</div>